<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @annot_comment.body %>
</p>

<%= link_to 'Edit', edit_annot_comment_path(@annot_comment) %> |
<%= link_to 'Back', annot_comments_path %>
